<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,500&display=swap"
    rel="stylesheet" />

  <title>Anime</title>
  <script type="module" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule="" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"></script>
</head>

<body>
  <header class="header">
    <a href="#main-content" class="skip-to-content">Skip to content</a>
    <h1 class="nav-logo"><a href="#" class="nav-logo-item">Anime</a></h1>
    <button class="btn-mobile-nav">
      <ion-icon class="icon-mobile-nav" name="menu-outline"></ion-icon>
      <ion-icon class="icon-mobile-nav" name="close-outline"></ion-icon>
    </button>
    <nav class="nav">
      <ul class="nav-links">
        <li class="nav-item">
          <a href="./index.html" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="https://github.com/kurniawan26" class="nav-link">About Us</a>
        </li>
      </ul>
    </nav>
  </header>`;

  <section class="section">
    <div class="slider">
      <div class="slide">
        <img src="../images/heros/hero-image_2.jpg" alt="Photo 2" />
      </div>
      <div class="slide">
        <img src="../images/heros/hero-image_4.jpg" alt="Photo 1" />
      </div>

      <button class="slider-btn slider-btn--left">&larr;</button>
      <button class="slider-btn slider-btn--right">&rarr;</button>
    </div>
  </section>

  <section class="explore-section" id="main-content">
    <h1 class="explore-heading">Explore anime</h1>
    <div class="explore-anime"></div>
  </section>
</body>

</html>